#result-container {
  text-align: center;
}

#imc-number {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 2rem;
}

#result-container h3 {
  margin-top: 1rem;
  color: #bfbfbf;
  font-weight: bold;
}

#result-container {
  display: flex;
  flex-direction: column;
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 1rem;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-header p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f44236;
}
